In [1]:
NUM_PAIRS = 50000

In [2]:
es_token = "<es>"
fr_token = "<fr>"
en_token = "<en>"

In [3]:
import pandas as pd

In [4]:
eng_es_df = pd.read_csv("..\Datasets\Spa.csv")

In [5]:
eng_es_df.head()

    en       es
0  Go.      Ve.
1  Go.    Vete.
2  Go.    Vaya.
3  Go.  Váyase.
4  Hi.    Hola.

In [6]:
eng_fr_df = pd.read_csv("..\Datasets\\fra.txt",sep="\t",usecols=[0,1],header=None)

In [7]:
eng_fr_df.head()

     0           1
0  Go.        Va !
1  Go.     Marche.
2  Go.  En route !
3  Go.     Bouge !
4  Hi.     Salut !

In [8]:
eng_fr_df = eng_fr_df.rename(columns={0:"en",1:"fr"})
eng_fr_df

,en,fr
0,Go.,Va !
1,Go.,Marche.
2,Go.,En route !
3,Go.,Bouge !
4,Hi.,Salut !
...,...,...
232731,Death is something that we're often discourage...,La mort est une chose qu'on nous décourage sou...
232732,Since there are usually multiple websites on a...,Puisqu'il y a de multiples sites web sur chaqu...
232733,If someone who doesn't know your background sa...,Si quelqu'un qui ne connaît pas vos antécédent...
232734,It may be impossible to get a completely error...,Il est peut-être impossible d'obtenir un Corpu...
232735,I went drinking with one of my boyfriend's fri...,« Je suis allée boire avec un ami de mon compa...

In [9]:
eng_fr_df = eng_fr_df[:NUM_PAIRS]
eng_es_df = eng_es_df[:NUM_PAIRS]

Brute Force for now

In [10]:
es_token = "<es>"
fr_token = "<fr>"
en_token = "<en>"

# Append the tokens to the target translations
eng_es_df['es'] = es_token + " " + eng_es_df['es']
eng_fr_df['fr'] = fr_token + " " + eng_fr_df['fr']
eng_fr_df['en'] = en_token + " " + eng_fr_df['en']
eng_es_df['en'] = en_token + " " + eng_es_df['en']


# Merge both datasets on the 'en' column to align translations


# Create a new DataFrame with the desired format (src-tgt pairs)
df_mnmt = pd.DataFrame(columns=['src', 'tgt'])

# Append English-Spanish pairs
df_mnmt = pd.concat([df_mnmt, eng_es_df.rename(columns={'en': 'src', 'es': 'tgt'})])

# Append English-French pairs
df_mnmt = pd.concat([df_mnmt, eng_fr_df.rename(columns={'en': 'src', 'fr': 'tgt'})])

# Reset the index for a clean DataFrame
df_mnmt = df_mnmt.reset_index(drop=True)

C:\Users\shara\AppData\Local\Temp\ipykernel_14612\611107020.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  eng_fr_df['fr'] = fr_token + " " + eng_fr_df['fr']
C:\Users\shara\AppData\Local\Temp\ipykernel_14612\611107020.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  eng_fr_df['en'] = en_token + " " + eng_fr_df['en']

In [11]:
df_mnmt

                              src                                      tgt
0                        <en> Go.                                 <es> Ve.
1                        <en> Go.                               <es> Vete.
2                        <en> Go.                               <es> Vaya.
3                        <en> Go.                             <es> Váyase.
4                        <en> Hi.                               <es> Hola.
...                           ...                                      ...
99995  <en> I'll let you do that.           <fr> Je te laisserai faire ça.
99996  <en> I'll let you do that.       <fr> Je vous laisserai faire cela.
99997  <en> I'll live on welfare.        <fr> Je vivrai de l'aide sociale.
99998  <en> I'll live on welfare.       <fr> Je vivrai des aides sociales.
99999  <en> I'll make some calls.  <fr> Je donnerai quelques coups de fil.

[100000 rows x 2 columns]

In [12]:
df_sorted = df_mnmt.loc[df_mnmt['src'].str.len().sort_values().index]

# Display the sorted DataFrame
df_sorted.head()

            src              tgt
0      <en> Go.         <es> Ve.
50002  <en> Go.  <fr> En route !
50003  <en> Go.     <fr> Bouge !
50004  <en> Hi.     <fr> Salut !
50005  <en> Hi.      <fr> Salut.

In [13]:
df_mnmt = df_mnmt.reset_index(drop=True)

In [15]:
df_mnmt.to_csv("Dataset.csv", index=False, quoting=1)  # 1 = csv.QUOTE_ALL